<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/menu/menu">Snowy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

      <ul class="nav navbar-nav navbar-right">


      <% if session[:type] == "admin"%>
            <li><a href="/instructors/listinstructors">Instructors</a></li>
      <%end%>
            <% if session[:type] == "admin"%>
            <li><a href="/question_builder/">Questions</a></li>
      <%end%>


      <li><a href="/gamemanagement/manage">Game</a></li>
        
       <li><a href="/studentmanagement/liststudents">Students</a></li>
               <li><a href="/reports/student">Reports</a></li>


<!--       <li class="dropdown">
          <a href="/reports/reports" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/reports/reports">Main</a></li>
            <li><a href="/reports/student">Student</a></li>
            <li><a href="#">Question</a></li>
          </ul>
        </li> -->

      <li class="dropdown">
          <a href="/profile/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <% if !session[:username].blank? %>
          <% if session[:type] == "admin"%>
         <% @admin = Admin.find(session[:user_id])%>
          <%= @admin.username %>
          <% else %>
          <% @instructor = Instructor.find(session[:user_id])%>
          <%= @instructor.username %>
         <%end%>
         <%end%>
          <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/profile/profile">Profile</a></li>
            <li><a href="/access/logout">Logout</a></li>
          </ul>
        </li>

<!--         <li><a href="/profile/profile">
        <% if !session[:username].blank? %>
          <%=session[:username] %>
         <%end%>
         </a></li> -->


      </ul>
    </div>
  </div>
</nav>