<h2>Student Management</h2>



<%= link_to('Add Student',  :action => :add )%>
<br />
<%= link_to('View Students',  :action => :liststudents )%>
<br />
<br />
<%= link_to("<< Back to  Menu", :controller => :menu, :action => :menu) %>
