<h2>Edit Password</h2>

		<%= form_for(:instructor, :url => {:action => :change, :id => @id, :method => :put, :cpw => true}) do |f| %>

    	<%= render(:partial => "update", :locals => {:f => f}) %>

    	<% end %>
    	<br/>
<%= link_to("<< Back to  Profile", {:controller => :profile, :action => :profile}, :class => "btn btn-primary") %>